.idea/*
!/.idea/runConfigurations
*.iml
target/
build/
classes/

autodeploy/*
data/*
installer/*
lib/*
src/*
webapp/*
test/*
*.jar
exist-core/backup/*
*.log

/client.properties
/*.xml
!/pom.xml
/VERSION.txt

tools/yajsw/conf/
extensions/betterform/uninstall/
